<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">منوی اصلی</li>
        <li>
          <a href="#">
            <i class="fa fa-dashboard fa-fw"></i> <span>داشبورد</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-usd fa-fw"></i> <span>مراکز هزینه</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-bars fa-fw"></i> <span>محصولات تولید</span>
          </a>
        </li>
         <li>
          <a href="#">
            <i class="fa fa-users fa-fw"></i> <span>کاربران</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-dashboard fa-fw"></i> <span>نقش ها</span>
          </a>
        </li>
        <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>داشبورد</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../../index2.html"><i class="fa fa-circle-o"></i>داشبورد</a></li>
          </ul>
        </li> -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>