
<bread-crumb title="داشبورد" master-name="پنل اصلی" slave-name="مراکز هزینه" master-icon="dashboard"></bread-crumb>

 <section class="content">
      <div class="row">
        <div class="col-sm-12 col-md-10">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">لیست مراکز هزینه</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>نام مرکز</th>
                  <th>کد مرکز</th>
                  <th>مدیر مرکز</th>
                  <th>تلفن داخلی</th>
                  <th>تعداد کارکنان</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>سالن زرین شماره یک</td>
                  <td>50010</td>
                  <td>علی احمدی رخسار</td>
                  <td>356</td>
                  <td>22 نفر</td>
                </tr>
                <tr>
                  <td>سالن زرین شماره دو</td>
                  <td>50011</td>
                  <td>محمدرضا عربی</td>
                  <td>357</td>
                  <td>12 نفر</td>
                </tr>
                <tr>
                  <td>سالن زرین شماره سه</td>
                  <td>50012</td>
                  <td>احمد کسروی</td>
                  <td>358</td>
                  <td>11 نفر</td>
                </tr>
                <tr>
                  <td>واحد بازیافت</td>
                  <td>60010</td>
                  <td>رضا ستوده</td>
                  <td>338</td>
                  <td>3 نفر</td>
                </tr>
               <tr>
                  <td>واحد میکش</td>
                  <td>70010</td>
                  <td>سجاد حکیمی لقب</td>
                  <td>458</td>
                  <td>9 نفر</td>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
                <div class="col-sm-12 col-md-2 text-center">
             <a class="btn btn-square-toround btn-bordered-info">
               <i class="fa fa-plus"></i> <span>افزودن مرکز هزینه</span>
             </a>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>


<!-- <section class="content">
    <div class="row">
        <section class="col-lg-12 col-md-12 connectedSortable">
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-envelope"></i>
                    <h3 class="box-title">ایمیل</h3>
                </div>
                <form asp-controller="Home" asp-action="Index" method="post">
                    <div class="box-body">

                        <div class="form-group">
                            <input type="email" class="form-control" name="emailto" placeholder="ایمیل">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" placeholder="موضوع">
                        </div>
                        <div>
                            <textarea class="textarea" placeholder="متن ایمیل"
                                      style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>

                    </div>

                    <hr />
                    <div class="box-footer clearfix">
                        <button type="button" class="pull-left btn btn-primary" id="sendEmail">
                            ثبت
                            <i class="fa fa-arrow-circle-left"></i>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section> -->