@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>150</h3>

                <p>سفارش جدید</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>افزایش امتیاز</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>44</h3>

                <p>کاربران ثبت شده</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>65</h3>

                <p>بازدید جدید</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- right col -->
    <section class="col-lg-7 connectedSortable">



        <!-- quick email widget -->
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-envelope"></i>
                <h3 class="box-title">ایمیل</h3>
                <!-- tools box -->
                <div class="pull-left box-tools">
                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip"
                            title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body">
                <form action="#" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="emailto" placeholder="ایمیل">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" placeholder="موضوع">
                    </div>
                    <div>
                        <textarea class="textarea" placeholder="متن ایمیل"
                                  style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                </form>
            </div>
            <div class="box-footer clearfix">
                <button type="button" class="pull-left btn btn-default" id="sendEmail">
                    ارسال
                    <i class="fa fa-arrow-circle-left"></i>
                </button>
            </div>
        </div>
    </section>
    <!-- /.right col -->
    <!-- left col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable">
        <!-- Map box -->
        <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
                <!-- tools box -->
                <div class="pull-left box-tools">
                    <button type="button" class="btn btn-primary btn-sm daterange pull-left" data-toggle="tooltip"
                            title="Date range">
                        <i class="fa fa-calendar"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm pull-left" data-widget="collapse"
                            data-toggle="tooltip" title="Collapse" style="margin-left: 5px;">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /. tools -->
                <i class="fa fa-map-marker"></i>
                <h3 class="box-title">
                    بازدید ها
                </h3>
            </div>
            <div class="box-body">
                <div id="world-map" style="height: 250px; width: 100%;"></div>
            </div>
            <!-- /.box-body-->
            <div class="box-footer no-border">
                <div class="row">
                    <div class="col-xs-4 text-center" style="border-left: 1px solid #f4f4f4">
                        <div id="sparkline-1"></div>
                        <div class="knob-label">بازدید ها</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-xs-4 text-center" style="border-left: 1px solid #f4f4f4">
                        <div id="sparkline-2"></div>
                        <div class="knob-label">آنلاین</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-xs-4 text-center">
                        <div id="sparkline-3"></div>
                        <div class="knob-label">فعال</div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.box -->

    </section>
    <!-- left col -->
</div>
<!-- /.row (main row) -->


<div class="row">
    <section class="col-lg-12 col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-info-circle"></i>
                <h3 class="box-title">لحظه ای تامل</h3>
                <!-- tools box -->
                <div class="pull-left box-tools">
                    <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /. tools -->
            </div>
            <div class="box-body">
                <h5>
                    بقای حیات در کره زمین، پدیده ای بس دشوار و پیچیده است. از میان میلیاردها میلیاد انواع [گونه] موجودات زنده ای که از آغاز زمین تاکنون پای به عرصه هستی نهاده اند، اغلبشان - 99/99 درصد - دیگر وجود ندارند. همچنان که می بینی، حیات در کره خاکی نه فقط عمری کوتاه دارد بلکه به طرز نومید کننده ای ظریف است و به تارمویی بستگی دارد. از خصوصیات شگفتی آور هستی ما آن است که ما از کره ای برخاسته ایم که خیلی خوب به گسترش حیات یاری می رساند ولی مهارتش در خاموش کردن شعله های زندگی بسی بیشتر است.
                </h5>
            </div>
        </div>
    </section>
</div>
